keras==2.4.3
scipy==1.6.2
numpy==1.19.5
spellchecker==0.4
pandas==1.2.3
sentence_transformers==2.0.0
opencv_python==4.5.2.52
fastapi==0.70.0
uvicorn==0.13.4
tensorflow-cpu==2.5.1
pyspellchecker==0.5.6
python-multipart==0.0.5
